myservice.wsdl

<definitions name = "MyService"
   targetNamespace = "http://localhost:8080/wsdl/MyService.wsdl"
   xmlns = "http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap = "http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns = "http://localhost:8080/wsdl/MyService.wsdl"
   xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
   
   <message name = "MyFunctionRequest">
      <part name = "name" type = "xsd:string"/>
      <part name = "id" type = "xsd:string"/>
   </message>
   <message name = "MyFunctionResponse">
      <part name = "name" type = "xsd:string"/>
   </message>

   <message name = "MyFunctionRequest1">
      <part name = "a" type = "xsd:int"/>
      <part name = "b" type = "xsd:int"/>
   </message>
   <message name = "MyFunctionResponse1">
      <part name = "sum" type = "xsd:int"/>
   </message>
   <message name = "LogInRequest">
      <part name = "userName" type = "xsd:string"/>
      <part name = "password" type = "xsd:string"/>
   </message>
   <message name = "LogInResponse">
      <part name = "msg" type = "xsd:string"/>
   </message>
   
   <portType name = "MyPort">
      <operation name = "MyFunction">
         <input message = "tns:MyFunctionRequest"/>
         <output message = "tns:MyFunctionResponse"/>
      </operation>
      <operation name = "MyAsyncFunction">
         <input message = "tns:MyFunctionRequest1"/>
         <output message = "tns:MyFunctionResponse1"/>
      </operation>
      <operation name = "LogIn">
         <input message = "tns:LogInRequest"/>
         <output message = "tns:LogInResponse"/>
      </operation>
   </portType>

   <binding name = "MyFunction_Binding" type = "tns:MyPort">
      <soap:binding style = "rpc"
         transport = "http://schemas.xmlsoap.org/soap/http"/>
      <operation name = "MyFunction">
         <soap:operation soapAction = "MyFunction"/>
         <input>
            <soap:body encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/" namespace = "urn:examples:MyService" use = "encoded"/>
         </input>
         <output>
            <soap:body encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/" namespace = "urn:examples:MyService" use = "encoded"/>
         </output>
      </operation>
      <operation name = "MyAsyncFunction">
         <soap:operation soapAction = "MyAsyncFunction"/>
         <input>
            <soap:body encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/" namespace = "urn:examples:MyService" use = "encoded"/>
         </input>
         <output>
            <soap:body encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/" namespace = "urn:examples:MyService" use = "encoded"/>
         </output>
      </operation>
      <operation name = "LogIn">
         <soap:operation soapAction = "LogIn"/>
         <input>
            <soap:body encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/" namespace = "urn:examples:MyService" use = "encoded"/>
         </input>
         <output>
            <soap:body encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/" namespace = "urn:examples:MyService" use = "encoded"/>
         </output>
      </operation>
   </binding>

   <service name = "MyService">
      <documentation>WSDL File for MyService</documentation>
      <port binding = "tns:MyFunction_Binding" name = "MyPort">
         <soap:address
            location = "http://localhost:8080/wsdl/" />
      </port>
   </service>

</definitions>